nav {
  width: 100%;
}

nav ul {
  background-color: rgb(204, 204, 204);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;

}

nav ul li {
  padding: 1em;
}

nav ul li a {
  font-weight: bold;
  color: rgb(84, 84, 84);
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

/* Container */
.container {
  margin: 3em;
  font-weight: bold;
  color: rgb(84, 84, 84);
}

.products{
  list-style-type: none;
  padding: 0;
}

.products li {
  margin: 0.5em 0;
}

.products li a {
  text-decoration: none;
  color: red;
}

.detail {
  font-weight: 300;
  margin: 0.5em 0;
}